.todo {
  width: 50%;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.todo__name {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.todo:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.todo__dark {
  background-color: #3f4749;
  color: #f1f2f6;
}

.todo__light {
  background-color: #dfe4ea;
  color: #2d3436;
}

.no__todos {
  margin-top: 30px;
  text-align: center;
}

.color__dark {
  color: #dfe4ea;
}

.color__light {
  color: #2d3436;
}

@media only screen and (max-width: 992px) {
  .todo {
    width: 70%;
  }

  .todo__name {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .todo {
    width: 80%;
  }

  .todo__name {
    font-size: 14px;
  }
}
