.login__container {
  margin-top: 17vh;
}

.login__input {
  display: block;
  margin: 20px auto;
  width: 80%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.login__form {
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.534);
  padding: 20px 0;
}

.login__form--title {
  margin: 10px;
  font-size: 36px;
  text-align: center;
}

.dark__input {
  background-color: #3f4749;
  color: #f1f2f6;
}

.light__input {
  background-color: #dfe4ea;
  color: #2d3436;
}

.margin__center {
  margin: 0 auto !important;
}

.light_theme {
  color: #2d3436;
}

.dark_theme {
  color: #f1f2f6;
}

.login__buttons--container {
  width: 85%;
  margin: 10px auto;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
}

.quotes__container{
    width: 80%;
    margin: 20px auto;
}

@media only screen and (max-width: 992px) {
    .login__container {
      margin-top: 8vh;
    }

    .login__form--title{
        font-size: 26px;
    }
  }
  

@media only screen and (max-width: 600px) {
  .login__container {
    margin-top: 5vh;
  }

  .login__form--title{
      font-size: 16px;
  }
}
